<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.olekstra.Pharmacy" version="0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Olekstra</name>
    <description>
        An app to recive list of pharmacy working with Olekastra.
    </description>
    <author email="sphinks@newmail.ru" href="http://cordova.io">
        Ivan Zerin
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
</widget>
